
MillingMachineFirmware/\.vs/

MillingMachineFirmware/__vm/

MillingMachineFirmware/Release/

Windows App/Frezarka/\.vs/

Windows App/Frezarka/Frezarka/bin/

Windows App/Frezarka/Frezarka/obj/
